<!-- Recent Transaction Start -->
<div class="col-12 mb-30">
    <div class="box">
        <div class="box-head has-operation">
            <h4 class="title">لیست مطلب</h4>
            <br>
            <div class="operations">
                <a href="/admin/posts/new_post" class="button button-primary">
                    <span>
                        <i class="zmdi zmdi-plus"></i>
                        ایجاد مطلب جدید
                    </span>
                </a>
            </div>
        </div>
        <div class="box-body">
            
            <div class="table-responsive">
                <table class="table table-vertical-middle table-selectable">

                    <!-- Table Head Start -->
                    <thead>
                        <tr>
                            
                            <th><span>#</span></th>
                            <th><span>عنوان</span></th>
                            <th><span>نویسنده</span></th>
                            <th><span>تاریخ انتشار</span></th>
                            <th><span>تعداد بازدید</span></th>
                            <th><span>عملیات</span></th>
                            <th></th>
                        </tr>
                    </thead><!-- Table Head End -->

                    <!-- Table Body Start -->
                    <tbody>
                        {{#each posts}}
                        <tr>
                            
                            <td>{{this.id}}</td>
                            <td><a href="#">{{this.title}}</a></td>
                            <td>{{this.fullName}}</td>
                            <td>{{this.created_at_persian}}</td>
                            <td>{{this.views_persian}}</td>
                            <td>
                                <a href="/admin/posts/edit_post?postid={{this.id}}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="/admin/posts/remove?postId={{this.id}}" name="removePostIcon">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody><!-- Table Body End -->

                </table>
            </div>
        </div>
    </div>
</div><!-- Recent Transaction End -->